<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
<div class="row">
    <div style="text-align: center;">
    <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">All Reviews</h1> <hr>
    <h2 style="font-family:'Courier New', Courier, monospace;"> <b><i> {{movieDetails.movieName}} </i> </b></h2>
    <h5 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> Average Rating: {{avg}} Stars ({{length}} user reviews) </h5>
    </div>

    <div class="col-md-8">
        <div class="media g-mb-30 media-comment" style="box-shadow: 400%;background-color: rgb(134, 110, 110);" *ngFor="let rObj of ratings" >
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30" >
              <div class="g-mb-15" >
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{rObj.userName}}</h5>
                <span class="g-color-gray-dark-v4 g-font-size-12">{{rObj.rating}} Stars</span>
              </div>
        
              <p>{{rObj.review}} </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <hr/>
        <div class="row">
            <img data-image="black" [src]="movieDetails.imageURL" alt="Product Image" style="height: 350px; width: 300px;">
            <p style="font-family: 'Teko', sans-serif;">MovieHub Rating: <b>{{movieDetails.rating}} Stars/10</b></p>

            <p style="font-family: 'Teko', sans-serif;">Cast: <b>{{movieDetails.cast}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">Director: <b>{{movieDetails.director}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">Producer: <b>{{movieDetails.production}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">Language: <b>{{movieDetails.language}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">Release: <b>{{movieDetails.yor}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">Budget: <b>{{movieDetails.budget}} </b></p>
            <p style="font-family: 'Teko', sans-serif;">BO Collection: <b>{{movieDetails.boCollection}} </b></p>






            
        </div>

    </div>
    </div>
   </div>
    