<div class="container mt-5" >
    <table  style="border-collapse: separate;
    border-spacing: 10px;" >
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Production</th>
                <th>Action </th>
    
    
            </tr>
            <br/>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movieDetails">
                <td>{{movie.movieName}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.production}}</td>
                <td>
                  <button mat-raised-button color="warn" (click)="delete(movie.movieId)">Remove</button>
    
                </td>
                <br/>
    
    
    
    
                
            </tr>
        </tbody>
    </table>
    
    </div>
    