<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Begin of Sources -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <!-- End of Sources -->

        <!-- Begin of Header --><header>Jaybeehoney
    </header>
        <!-- End of Header -->

    </head>
    <!-- <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
          InstaSell
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
          id="templatemo_main_nav">
          <div class="flex-fill">
            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/myOrders">My Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/addNewProduct">Add new Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/showProductDetailes">Show All Products</a>
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
              <div class="input-group">
                <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                <div class="input-group-text">
                  <i class="fa fa-fw fa-search"></i>
                </div>
              </div>
            </div>
            <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
              <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>
            <a class="nav-icon position-relative text-decoration-none" routerLink="/cart">
              <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
              <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
            </a>
            <a class="nav-icon position-relative text-decoration-none" href="#">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
              <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
            </a>
          </div>
        </div>
      </div>
    </nav> -->

    <div id="carausel1">
        <div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://media.gv.com.sg/imagesresize/img4358.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success">John Wick: Chapter 4
                                    </h1>
                                    <h3 class="h2" style="color:rgba(255, 255, 255, 0.815); margin: 15px;">Keanu Reeves, Laurence Fishburne, George Georgiou</h3>
                                    <p style="color:rgba(255, 255, 255, 0.836)">

                                        John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://i0.wp.com/peytonsmomma.com/wp-content/uploads/2023/06/TFLSH_VERT_FLASH_2764x4096_DOM.jpg?resize=691%2C1024&ssl=1" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h1 class="h1 text-success">The Flash</h1>
                                    <h3 class="h2" style="color:rgba(255, 255, 255, 0.815); margin: 15px;">Ezra Miller, Michael Keaton, Sasha Calle</h3>
                                    <p style="color:rgba(255, 255, 255, 0.836)">
                                        Barry Allen uses his super speed to change the past, but his attempt to save his family creates a world without super heroes, forcing him to race for his life in order to save the future.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="https://img.broadtime.com/418467246549:500.webp" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success">The Covenant</h1>
                                    <h3 class="h2" style="color:rgba(255, 255, 255, 0.815); margin: 15px;">Jake Gyllenhaal, Dar Salim, Emily Beecham</h3>
                                    <p style="color:rgba(255, 255, 255, 0.836)">
                                        During the war in Afghanistan, a local interpreter risks his own life to carry an injured sergeant across miles of grueling terrain.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>


    <div class="center">
        <div class="all-products">
            <h1 class="h1 text-success" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">All Movies</h1>
        </div>


    </div>
    <!-- <marquee style="color:white;background-color: black;" direction="right"> select Categories </marquee> -->

    <div style="background-color:back;" class="column d-flex justify-content-center">
        <button style="margin-left: 30px;" mat-raised-button (click)="getMovies()">All Categories</button>
        <button style="margin-left: 30px;" mat-raised-button (click)="getActionMovies()">Action</button>
        <button style="margin-left: 30px;" mat-raised-button (click)="getAdventureMovies()">Adventure</button>
        <button style="margin-left: 30px;" mat-raised-button (click)="getComedyMovies()">Comedy</button>
        <button style="margin-left: 30px;" mat-raised-button (click)="getThrillerMovies()">Thriller</button>
    </div>


    <div
        class="allCards">

        <!-- Assuming you are using Angular framework -->
        <div
            class="card-container">
            <!-- <div class="product-card" *ngFor="let cObj of cusList"> -->
            <div class="product-card" *ngFor="let cObj of moviesList">

                <div class="product-tumb">
                    <img [src]="cObj.imageURL" alt="" (click)="redirectToPage(cObj.movieId)">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{cObj.genre}}</span>
                    <h4>
                        <a href="" style="color: #34d979; font-weight: bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{cObj.movieName}}</a>
                    </h4>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;">{{cObj.cast}}</p>

                    <small style="color: #d9ad34; font-style: italic; font-family: cursive;">Rating:
                        {{cObj.rating}}/10 Stars</small>

                    <div
                        class="product-bottom-details">
                        <!-- <div class="product-price"><small>{{cObj.productActualPrice}}</small>{{cObj.productDiscountedPrice}}</div> -->
                        <div class="product-links">
                            <a (click)="addToWatchlist(cObj.movieId)">
                                <i class="fa fa-heart"></i>
                            </a>
                            <!-- <a href=""><i class="fa fa-shopping-cart"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="all-products">
            <h1 class="h1 text-success" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Top Movies</h1>
        </div>


    </div>
    <!-- <marquee style="color:white;background-color: black;" direction="right"> select Categories </marquee> -->


    <div
        class="allCards">
        <!-- Assuming you are using Angular framework -->
        <div
            class="card-container">
            <!-- <div class="product-card" *ngFor="let cObj of cusList"> -->
            <div class="product-card" *ngFor="let cObj of topRatedMoviesList">

                <div class="product-tumb">
                    <img [src]="cObj.imageURL" alt="" (click)="redirectToPage(cObj.movieId)">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{cObj.genre}}</span>
                    <h4>
                        <a href="" style="color: #34d979; font-weight: bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{cObj.movieName}}</a>
                    </h4>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;">{{cObj.cast}}</p>

                    <small style="color: #d9ad34; font-style: italic; font-family: cursive;">Rating:
                        {{cObj.rating}}/10 Stars</small>
                    <div
                        class="product-bottom-details">
                        <!-- <div class="product-price"><small>{{cObj.productActualPrice}}</small>{{cObj.productDiscountedPrice}}</div> -->
                        <div class="product-links">
                            <a (click)="addToWatchlist(cObj.movieId)">
                                <i class="fa fa-heart"></i>
                            </a>
                            <!-- <a href=""><i class="fa fa-shopping-cart"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 pt-5">
              <h2 class="h2 text-success border-bottom pb-3 border-light logo">InstaSell</h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li>
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  India
                </li>
                <li>
                  <i class="fa fa-phone fa-fw"></i>
                  <a class="text-decoration-none" href="#">000-000-0000</a>
                </li>
                <li>
                  <i class="fa fa-envelope fa-fw"></i>
                  <a class="text-decoration-none" href="#">instasell@company.com</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light">Smartphones</h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li><a class="text-decoration-none" href="#">Top Selling</a></li>
                <li><a class="text-decoration-none" href="#">Trending</a></li>
                <li><a class="text-decoration-none" href="#">Most Popular</a></li>
              </ul>
            </div>
            <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light">More Info</h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li><a class="text-decoration-none" href="#">Home</a></li>
                <li><a class="text-decoration-none" href="#">About Us</a></li>
                <li><a class="text-decoration-none" href="#">E-Shop</a></li>
                <li><a class="text-decoration-none" href="#">FAQs</a></li>
                <li><a class="text-decoration-none" href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="row text-light mb-4">
            <div class="col-12 mb-3">
              <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
              <ul class="list-inline text-left footer-icons">
                <li class="list-inline-item border border-light rounded-circle text-center">
                  <a class="text-light text-decoration-none" target="_blank" href="#"><i
                      class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                  <a class="text-light text-decoration-none" target="_blank" href="#"><i
                      class="fab fa-instagram fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                  <a class="text-light text-decoration-none" target="_blank" href="#"><i
                      class="fab fa-twitter fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                  <a class="text-light text-decoration-none" target="_blank" href="#"><i
                      class="fab fa-linkedin fa-lg fa-fw"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="subscribeEmail">Email address</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                  placeholder="Email address">
                <div class="input-group-text btn-success text-light">Subscribe</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 bg-black py-3">
          <div class="container">
            <div class="row pt-2">
              <div class="col-12">
                <p class="text-left text-light">
                  Copyright &copy; 2023 InstaSell
                <a rel="sponsored" href="#" target="_blank"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer> -->
    <app-footer></app-footer>
</html>
